{% extends 'store/main.html' %}
{% load crispy_forms_filters %}
{% load static %}

{% block content %}

    <form class="box-element product"> <!--guardo in css style-->
    <div class="container">
            <div class="card" style="text-align: center; /*height: 80vh;*/ background: rgba(0, 0, 0, 0.1)">
                <img class="thumbnail" src="{{ product.imageURL }}">
                    <p><strong>Nome corso: </strong>{{ product.name }}</p>
                    <p><strong>Costo corso: </strong>{{ product.price|floatformat:2 }}€</p>
                    <p class="card-text"><strong>Posti rimanenti:</strong> {{ product.description }}</p>
                    <p><strong>Sedute settimanali: </strong>{{ product.category }}</p>
                    <p><strong>Descrizione: </strong></p>
                    <p>{{ product.description }}</p>

                 <button type="submit" data-product="{{ product.id }}" data-action="add" class="btn btn-success add-btn update-cart"
                        style="margin-left:0;margin-right:auto;display:block;">Aggiungi al carrello</button>
            </div>

    </div>
</form>
{% endblock %}