{% extends 'store/nav_dropdown.html' %}
{% load crispy_forms_filters %}
{% load static %}

{% block content %}

     <div class="container">
        <h4>Ricerca per Guanti</h4>
    </div>

    <div class="row">
        {% for product in products %}
        <div class="col-lg-4">
            <img class="thumbnail" src="{{ product.imageURL }}">
            <form class="box-element product"> <!--guardo in css style-->
                <h6><strong>{{ product.name }}</strong></h6>
                <hr>
                <h7>{{ product.category }}</h7>
                <hr>

                <a class="btn btn-outline-success" href="{% url 'store:dettagli' product.id%}">Dettagli</a>
            <br>
                <h4 style="display: inline-block; float: right">€{{ product.price|floatformat:2 }}</h4>

                <form method="POST" class="form-group" >
                    {% csrf_token %}
                <select>
                    {% for choice in product.available_size %}
                         <OPTION Value="Taglia" >{{ choice }}</OPTION>
                    {% endfor %}

                </select>
                <button type="submit" data-product="{{ product.id }}" data-action="add" class="btn btn-success add-btn update-cart"
                        style="margin-left:0;margin-right:auto;display:block;">Aggiungi al carrello</button>
                <!--<button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>-->
                </form>
            </form>

        </div>
        {% endfor %}
    </div>

{% endblock content %}

