{% extends 'store/main.html' %}
{% load static %}

{% block content %}
    <div class="row">
        {% for product in products %}
        <div class="col-lg-4">
            <img class="thumbnail" src="{{ product.imageURL }}">
            <div class="box-element product"> <!--guardo in css style-->
                <h6><strong>{{ product.name }}</strong></h6>
                <hr>
                <h7>{{ product.category }}</h7>
                <hr>
                <button class="btn btn-outline-secondary add btn"> Aggiungi al carrello
                </button>
                <br>
                <a class="btn btn-outline-success" href="#">Dettagli</a>
                <h4 style="display: inline-block; float: right">€{{ product.price|floatformat:2 }}</h4>

                <SELECT>
                    <OPTION Value="Taglia">XS</OPTION>
                    <OPTION Value="Taglia">S</OPTION>
                    <OPTION Value="Taglia">M</OPTION>
                    <OPTION Value="Taglia">L</OPTION>
                    <OPTION Value="Taglia">XL</OPTION>
                    <OPTION Value="Taglia">XXL</OPTION>
                </SELECT>
            </div>
        </div>
        {% endfor %}

    </div>

{% endblock content %}
